
a {
	color: black;
}

html, body{
   padding: 0;
   margin: 0;
}

.header {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    height: 75px;
    background-color: white;
    z-index: 20;
}


.site-name {
	color: MediumAquamarine;
	margin-left: 15px;
}


.logo {
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin-left: 40px;
}


.nav {
	display: inline-flex;
	justify-content: flex-end;
	margin-right: 40px;

}

.nav-item {
	padding-right: 20px;
}

.content-body, .fancy-headline, .standard, .lead-image {
	border: 1px solid black;

}

.content-body {
	margin: 100px 40px;
	display: inline-flex;
	flex-direction: row;
}

.column {
	display: inline-flex;
	flex-direction: column;
	align-content: space-around;
	margin-right: 32px;
	

}

.large {
	width: 630px;

}

.medium {
	width: 300px;
}

.small {
	width: 240px;
}

.small .lead-image {
	width: 240px;
}



